.btn-grid {
  background-image: linear-gradient(
    to right,
    #dc2424 0%,
    #4a569d 51%,
    #dc2424 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff !important;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grid:hover {
  background-position: right center; /* change the direction of the change here */
  /* color: #fff; */
  text-decoration: none;
  color: rgb(41, 23, 59);
}
